<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error!</title>
    <link
      rel="stylesheet"
      href="<link>https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css</link>"
    />
    <link rel="stylesheet" href="<link>style.css</link>" />
    <!-- Add your own CSS file here -->
  </head>
  <body>
    <div class="<link>error-container</link>">
      <div class="<link>error-content</link>">
        <div class="<link>error-heading</link>">
          <h1 class="<link>animate__animated animate__pulse</link>">Error</h1>
          <h2 class="<link>animate__animated animate__fadeIn</link>">Oops!</h2>
        </div>
        <p class="<link>animate__animated animate__fadeIn</link>">
          We ran into a problem
        </p>
        
      </div>
    </div>

    <script src="<link>https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js</link>"></script>
  </body>
</html>
