<!DOCTYPE html>
<html>
  <head>
    <title>Word Finder</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container-fluid p-5 bg-dark text-white">
      <header>
        <h1>Word Finder</h1>
      </header>
    </div>
    <main>
      <div class="container p-5 mt-5 mb-5">
        <input type="text" id="wordInput" placeholder="Enter a word" />
        <button id="searchButton">Search</button>
      </div>
      <div id="resultContainer" class="container"></div>
    </main>

    <div class="container-fluid p-5 bg-dark text-white">
      <footer id="footer">&copy; WordFinder 2023, All Rights Reserved.</footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
